.TM li {
  border: solid 1px;
  text-align: center;
  background-color: #e9bdc480;
}

.TM li:nth-child(odd) {
  float: left;
  width: 50%;
}

.PM li {
  border: solid 1px;
  background-color: #ff634775;
}

.CM li {
  border: solid 1px
}

.bg-secondary {
    background-color: #b8bdc1!important;
}
